.grid {
    border: 1px solid;
    height: 480px;
    width: 560px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid div {
    height: 80px;
    width: 80px;
  }

  .player-one {
      background-color: yellow;
      border-radius: 50px;
  }

  .player-two {
    background-color: black;
    border-radius: 50px;
}
  
h3 {
    color: red;
}